@model IEnumerable<OnlineBidding.Models.Entities.Auction>

@{
    ViewBag.Title = "Auctions";
}

<div class="jumbotron" style="background-image: url(../../Assets/landing_auction.jpg); background-size: cover; color: white">
    <h1 class="display-4">Welcome to Online Bidding!</h1>
    <p class="lead">Auction for your favorite items available at our site.</p>
</div>

<h2>Available auctions</h2>

@foreach (var auction in Model)
{
<div class="media" style="padding: 15px 0 15px 0">
    <img class="mr-3" src="@auction.ImagePath" alt="@auction.Name" width="100" height="100" style="max-width: 100%; height: auto">
    <div class="media-body">
        <h5 class="mt-0">@auction.Name</h5>
        @auction.Description
        <p class="font-weight-lighter" style="padding-top: 10px;">Available until @auction.EndDate.ToShortDateString()!</p>
        <a class="btn btn-info" href="@Url.Action("Details", "Auctions", new { id = auction.Id })">Details</a>
        <hr class="my-4">
    </div>
</div>                
}
